


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 15rem    !important;
    }

    .site-main > .services-area .services{
        width: 13rem;
    }

}


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .bg-panel{
        margin-left: 30%;
        width: 80%;   
    }

    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 20rem;
        margin: 5%;
    }
}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }


}

/*******************cv css*******/
#header{
    display: grid;
    grid-template-columns: 2fr 5fr;
    background: black;
    color: white;
   }
   #ui{
    display: grid;
    grid-template-columns: 0.2fr 0.5fr;
   }
   .skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   #ent{
    margin-top: 0px;
   }
   #space{
    margin-left: 30px;
   
   }
   #progress-bar{
    background: #CDCDCF;
    height: 10px;
    margin-top: 5px;
    width: 100px;
   }
   #progress{
    background: black;
    height: 10px;
    width: 80px;
   }
   .topM{
    margin-top: 20px;
    margin-bottom: 10px;
   
   }
   #contacts{
    background: #CDCDCF;
    padding: 10px;
   }
   #skills{
    background: #CDCDCF;
    padding: 10px;
   }
   #exp1{
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
   }
   p{
    text-align: justify;
   }
   #head{
    font-weight: bold;
   }
   svg{
    height: 1em;
    margin-left: 40px;
   }
   #left-mrgm{
    margin-left: 40px;
    font-weight: bold;
   }
   .box{
    height: 20px;
    width: 20px;
    background: black;
   }
   #image{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
   }
   #name{
    letter-spacing: 0.5em;
    font-weight: bold;
    margin-top: 20px;
   }
   #web{
    letter-spacing: 0.2em;
    margin-top: 30px;
   }
   #underline{
    width: 440px;
    height: 7px;
    margin-top: 20px;
    background: #CECED0;
   }
   #exp{
    background: #CDCDCF;
    padding: 10px;
   }
   #wrapper{
    padding: 0px;
    margin-top: 50px;
   }

   /* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
    bottom: 3rem;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
/*contact start*/
.contact{
    padding: 4%;
    height: 400px;
    margin-bottom: 300px;
}
.col-md-3{
    background: #854fee;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #854fee;
    color: black;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
/*contact end*/

.jumbotron{
    padding-bottom: 210px;
    display: flex;
    justify-content: space-around;
  background-image:  url(afrik.jpg);
   background-size:inherit;
  background-position: bottom;
  height: 60px;
}
.jumbotron img{
    /*position: relative;*/
    
    margin-top: -60px;
    height: 260px;
    float: right;
    justify-content: flex-start;
    margin-left: 150px;
}
.jumbotron p{
    
    font-size: 100px;
    color: #854fee;
    font-weight: 500;
   /* margin-top: -20px;*/
    position: relative;
    padding-right: -200px;
    text-align: justify;
    margin: 0 auto;
    width: 7em;
    letter-spacing: 0.5em;
    font-family: castellar; 
}
@media(max-width:980px){
    .jumbotron{
        padding-top: 100px;
        flex-direction: column-reverse;
        font-size: 5px;
        height: 200px;
        width: 100%;
    }
    .jumbotron img{
        display: none;
        position: relative;
        height: 200px;
        -ms-flex-align: center;
        width: auto;
        margin-left: 50%;
    }
    .jumbotron p{
        margin-left:-10px ;
        margin-top: -150px;
        font-size: 80px;
        float: left;
        font-family: castellar;
        text-align: justify;
         margin: 0 auto;
        width: 7em;
    }
}

/*footer*/
.footer-area{
    background-color:#ffffff;
    color:white;
}

 .logo-footer {
    margin-bottom: 40px;
 }

 footer p, a {
font-size: 20px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background:rgb(238, 28, 28);
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color:rgb(13, 12, 12);
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 15px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:white;
margin-left: -10px;
color: rgb(255, 255, 255);
outline: none;
border-radius: 10px 10px 10px 10px;
padding: 5px 20px;
font-size: 15px;
}
 .social .fa {
color: #ffffff;
font-size: 22px;
padding: 10px 15px;
background: black;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: #ffffff;
text-decoration:none;
}

a:hover {
text-decoration: none;
color: black !important;

}
.logo-part {
border-right: 1px solid rgb(239, 234, 234);
height: 100%;
}
.loginup{
    background-color: #081c77;
    font-size: 20px;
    margin-left: 15px;
    border-radius: 10px;
}
.loginup a{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.loginup a:hover{
    color: #fff;
    transform: translateY(-10px);
}

/*===================== Hero section ======================*/

.about-img{
    margin-left: -100px;
    right: -60px;
   }
   
   .display-1{
     font-size: 160px;
     font-weight: 1000;
     
   }
    
   .position-absolute{
     font-weight: 700;
     
   }
   
   .typed-cursor {
     font-size: 45px;
     color: #ffffff;
   }
   
   .blue{
     background-color: #1c5ce6;
     color: #ffffff;
   }
   .btn{
     border: 2px solid rgb(29, 105, 247);
   } 
   .btn-white{
     background-color: #ffffff;
     border:2px solid #ffffff;
   }
   .btn-blue{
     border: 2.4px solid #ffffff;
     color: #ffffff;
   }
   @media (max-width: 700px) {
     .about-img{
       margin-left: 20px;
       right: 0px;
       top: 30px;
      }
   }
   /*===================== Progress Bar ====================*/
   
   .progress {
     border-radius: 10px;
   }
   
   .progress .progress-bar {
     width: 0px;
     border-radius: 10px;
     transition: 2s;
   }
   
   
   /* =================== Queality ======================*/
   .ex-me{
     margin-top: 35px;
   }
/*sec2*/
.faq{
    background-color:  rgb(221, 205, 255);
    height:500px;
}
.section-title{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.beauty{
    padding-top: 40px;
    background-color: #fff;
    width: 90%;
    height: 90%;
    box-shadow: 10px -20px 40px 15px orange ;
}
.beauty1{
    margin-left: 150px;
    padding-left: 50px;
    text-align: center;
    padding-top: 40px;
    background-color: #fff;
    width: 80%;
    height: 90%;
    box-shadow: 40px -20px 80px 40px orange ;
}
#accordion{
   padding-top: 0;
   max-width: 100%;
   background-color: rgb(221, 205, 255);
}
#accordion h3{
  position: relative;
  padding: 10px;
  background-color:#854fee;
  cursor: pointer;
  border-bottom: 5px double white;
}
#accordion h3::before{
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}
#accordion div{
  padding: 5px;
}
.projet{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  font-family:'Redressed', cursive;
  margin-bottom: 20px;
}
/*.accordion .contentBx .content1{
  position: relative;
  background-color: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.accordion .contentBx.active .content1{
  height: 150px;
  padding: 10px;
}*/   

/*login*/

/*api slider*/
#maina{
    width: 100%;
    height: 100vh;
   
    display: grid;
    place-items: center;
}
#slider{
    display: flex;
    flex-wrap: wrap;
    max-width: 150%;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left:100px;
    
}
#slider::-webkit-scrollbar{
    display: none;
}
.movie{
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.movie img{
    width: 100%;
}
.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info h3{
    margin-top: 0;
}
.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
.movie-info span.green{
    color: lightgreen;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}
.overview{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
}
.movie:hover .overview{
    transform: translateY(0);
}